<!--<table *ngIf="dataLoaded==true" class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Color Name</th>
  </tr>
  </thead>
  <tr *ngFor="let color of colors">
    <td>{{color.id}}</td>
    <td>{{color.colorName}}</td>
  </tr>
</table>-->

<ul *ngIf="dataLoaded==true" class="list-group">
  <h3>Colors</h3>
  <!--<li class="list-group-item" routerLink="/cars">All</li>-->
  <li routerLink="/cars/color/{{color.id}}" class="list-group-item" *ngFor="let color of colors">{{color.colorName}}</li>
</ul>
