<div class="container-fluid px-xxl-5 mt-2">
  <div class="row">
    <div class="col-md-2">
      <div class="list-group">
        <button routerLink="/admin/brand/edit" style="font-size: 130%;" type="button" class="btn btn-dark btn-outline-light mt-2 shadow">Edit Brands</button>
        <button routerLink="/admin/color/edit" style="font-size: 130%;" type="button" class="btn btn-dark btn-outline-light mt-3 shadow">Edit Colors</button>
        <button routerLink="/admin/car/edit/{{0}}" style="font-size: 130%;" type="button" class="btn btn-dark btn-outline-light mt-3 shadow">Add New Car</button>
      </div>
    </div>
    <div class="col-md-10">
      <app-car-filter></app-car-filter>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let carDetail of carsDetails | carFilter: valueService.selectedBrandId:valueService.selectedColorId" class="col">
          <div *ngIf="carDetail.carImagePathForCard" class="card shadow-sm">
            <img  width="390" height="280" [src]="'data:image/jpg;base64,'+ carDetail.carImagePathForCard" class="card-img">
            <div class="card-body shadow-sm">
              <h4 class="card-title">{{carDetail.brandName}}</h4>
              <p class="card-text"><i><b>{{carDetail.description}}</b></i></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>• {{carDetail.colorName}}</b></li>
              <li class="list-group-item">Model Year: <b>{{carDetail.modelYear | date: '• yyyy'}}</b></li>
              <li class="list-group-item">Daily Price: <b>• {{carDetail.dailyPrice | currency}}</b></li>
            </ul>
            <div class="card-body d-grid gap-2">
              <button routerLink="/admin/car/edit/{{carDetail.id}}" type="button" class="btn btn-outline-dark shadow">Edit Car</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
